*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    height: 100vh;
    margin: 0 auto;
    max-width: 1440px;    
    background: #101010F0;
}
nav{
    position:fixed;
    top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#373434;
    width: 50%;
    border-bottom-right-radius: 40px;
    border-top-right-radius:40px;
    z-index: 8;
}
.liste li {
    display: inline-block;
    padding: 32px 40px;
    color: azure;
}
.sec1 {
    height: 92%;
    width: 100%;
    background-image: url(image/BannièreAmirouche.jpeg);  
    background-size: 100%;
    background-repeat: no-repeat;
}
.sec2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(16,16,16,0.9416141456582633) 0%, rgba(16,16,16,0.938813025210084) 0%),
    url(image/sec2.jpeg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%; 
}
.sec3{  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(16, 16, 16, 0.83) 0%, rgba(16, 16, 16, 0.7387) 52.4%, rgba(16, 16, 16, 0.83) 100%), url(image/Background1.jpeg);
    gap: 1%;
}
.sec3 p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}
#sv, #smp, #dev, #wd{
    width: 206px;
    height: 144px;
    border: 1px solid white;
    border-radius: 15px;
}
.card{
    width: 296px;
    height: 462px;
    background: linear-gradient(180deg, #2E2E2F 0%, #101010 25.83%, #2E2E2F 47.19%, #101010 79.48%);
    display: flex;
    border-radius: 10px;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 3px 27px 15px #000000;

}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.t1{
    text-align: left;
    margin-bottom: 80px;
}
.t2{
    font-size: 25px;
    text-align: center;
    background: #393737;
    padding: 20px 29px;
}

.t2 .t1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
height: 45px;
width: 121px;
padding-left: 10%;
}
.logo img{
    height: 100%;
}

.infos{
    height: auto;
    width: 100%;
    background: #4b4b4b1d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infos h1{
    font-size: 25px;
}
.infos p{
    font-size: 15px;
}
.infos a{
    font-size: 20px;
}
.desk{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.80);
    opacity: 0.09;
}
